<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8">
  <title>Прогноз погоди</title>
  <link rel="icon" type="image/x-icon" href="/img/favicon/favicon.ico">
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <header>
    <h2>Прогноз погоди</h2>
  </header>
  <main>
